Repository ethanuppal/nerdtalk, changes with the labels that .github/labeler.yaml gives for each.
All labels: Code: Client, Code: Server, Code: Protocol, Infra: CI, Documentation

.github/labeler.yaml:

"Code: Client":
  - changed-files:
      - any-glob-to-any-file: "client/**"

"Code: Server":
  - changed-files:
      - any-glob-to-any-file: "server/**"

"Code: Protocol":
  - changed-files:
      - any-glob-to-any-file: "comms/**"

"Infra: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

"Documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

Add Ratatui; Minimal refactor
  Cargo.lock
  client/Cargo.toml
  client/src/main.rs
Labels: Code: Client

Fix dependenc loc
  Cargo.toml
  client/Cargo.toml
Labels: Code: Client

Update Protocol description
  docs/protocol-v0.md
Labels: Documentation

Doesnt compile just edit client-tui dont touch client ty
  Cargo.lock
  Cargo.toml
  client-tui/Cargo.toml
  client-tui/src/main.rs
  client/Cargo.toml
  client/src/lib.rs
  client/src/main.rs
  comms/src/lib.rs
  server/src/main.rs
Labels: Code: Client, Code: Server, Code: Protocol

Add tailwind, tsconfig paths
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.js
  app/tailwind.config.js
  app/tsconfig.json
  app/vite.config.ts
Labels: none

Configure tailwind and add basic components
  app/src/App.css
  app/src/App.tsx
  app/src/components/MessageLog.tsx
  app/src/components/TextBox.tsx
  app/src/global.css
  app/src/main.tsx
Labels: none
