Repository ethanuppal/nerdtalk, changes with the labels that .github/labeler.yaml gives for each.
All labels: Code: Client, Code: Server, Code: Protocol, Code: Chat, Code: TUI, Code: Web App, Infra: CI, Infra: xtasks, Documentation

.github/labeler.yaml:

"Code: Client":
  - changed-files:
      - any-glob-to-any-file: "client/**"

"Code: Server":
  - changed-files:
      - any-glob-to-any-file: "server/**"

"Code: Protocol":
  - changed-files:
      - any-glob-to-any-file: "comms/**"
      - any-glob-to-any-file: "docs/protocol*.md"

"Code: Chat":
  - changed-files:
      - any-glob-to-any-file: "chat/**"

"Code: TUI":
  - changed-files:
      - any-glob-to-any-file: "client-tui/**"

"Code: Web App":
  - changed-files:
      - any-glob-to-any-file: "client-tauri/**"

"Infra: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

"Infra: xtasks":
  - changed-files:
      - any-glob-to-any-file: "xtasks/**"

"Documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

fix(xtask-lint): Handle constants correctly
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks

fix: clippy
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks

fix(xtask-lint): Handle constants correctly (#48)
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks

ci(perf): Don't use incremental builds
  .github/workflows/ci.yaml
Labels: Infra: CI

Add Clippy Fixes
  client-tui/src/app.rs
  client-tui/src/vim.rs
Labels: Code: TUI

ci(perf): Don't use incremental builds (#49)
  .github/workflows/ci.yaml
Labels: Infra: CI

Remove unused var
  client-tui/src/vim.rs
Labels: Code: TUI

Fix argument thing
  client-tui/src/app.rs
Labels: Code: TUI

CLIPPY DIDN'T WARN ME ABOUT THIS
  client-tui/src/app.rs
  client-tui/src/vim.rs
Labels: Code: TUI

Readd lib.rs
  client-tui/src/lib.rs
  client-tui/src/main.rs
Labels: Code: TUI

fix: rustfmt
  client-tui/src/app.rs
  client-tui/src/lib.rs
  client-tui/src/vim.rs
Labels: Code: TUI

feat(tui): Integrate protocol into TUI (#47)
  .gitignore
  Cargo.lock
  client-tui/src/app.rs
  client-tui/src/main.rs
  client-tui/src/vim.rs
  docs/vim.md
Labels: Code: TUI, Documentation

trigger ci
  release-please-config.json
Labels: none

fix version
  Cargo.lock
  release-please-config.json
Labels: none

Create ws scaffold
  client-tauri/src/ws/ws.ts
Labels: Code: Web App

Add support for v1 in client-tauri
  Cargo.lock
  client-tauri/src-tauri/Cargo.toml
  client-tauri/src-tauri/src/lib.rs
Labels: Code: Web App

chore(comms): Use JSON over bincode for passing data over websockets
  Cargo.lock
  client-connect/src/lib.rs
  comms/Cargo.toml
  comms/src/lib.rs
Labels: Code: Protocol

chore: Remove bincode from dependencies
  Cargo.toml
Labels: none

chore(protocol): Use JSON over bincode for passing data over websockets (#51)
  Cargo.lock
  Cargo.toml
  client-connect/src/lib.rs
  comms/Cargo.toml
  comms/src/lib.rs
Labels: Code: Protocol

feat(protocol): Tag server entries reply with client id
  Cargo.lock
  client-connect/examples/simple_client.rs
  client-tui/src/app.rs
  client-tui/src/main.rs
  comms/Cargo.toml
  comms/src/lib.rs
  server/src/main.rs
Labels: Code: Server, Code: Protocol, Code: TUI

fix: Errors
  client-tui/src/app.rs
  client-tui/src/main.rs
Labels: Code: TUI

Add Undo/Redo (need to add <C-r> bind for redo)
  client-tui/src/vim.rs
  docs/vim.md
Labels: Code: TUI, Documentation

Add Keymodifiers (<C-r> works for redo now)
  client-tui/src/app.rs
  client-tui/src/vim.rs
  docs/vim.md
Labels: Code: TUI, Documentation

feat(protocol): Tag server entries reply with client id (#53)
  Cargo.lock
  client-connect/examples/simple_client.rs
  client-tui/src/app.rs
  client-tui/src/main.rs
  comms/Cargo.toml
  comms/src/lib.rs
  server/src/main.rs
Labels: Code: Server, Code: Protocol, Code: TUI

chore: Add LICENSE
  LICENSE
Labels: none

chore: Add LICENSE (#54)
  LICENSE
Labels: none

chore(lints): Add more abbreviation lints
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks

chore(lints): Add more abbreviation lints (#55)
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks
