Repository ethanuppal/nerdtalk, changes with the labels that .github/labeler.yaml gives for each.
All labels: Code: Client, Code: Server, Code: Common, Infra: CI, Documentation

Start working on TLS
  Cargo.lock
  Cargo.toml
  client.sh
  client/Cargo.toml
  client/src/main.rs
  server/Cargo.toml
  server/src/main.rs
Labels: Code: Client, Code: Server

Some work on tls
  Cargo.lock
  Cargo.toml
  cert/cert.pem
  cert/key.pem
  client/Cargo.toml
  client/src/main.rs
  reading_list.md
  server/src/main.rs
Labels: Code: Client, Code: Server, Documentation

Add broken websocket
  cert/cert.der
  cert/cert.pem
  cert/identity.p12
  cert/key.pem
  cert/root-ca.der
  cert/root-ca.key.pem
  cert/root-ca.pem
  cert/root-ca.srl
  cert/server.key.pem
  client/src/main.rs
  gencert.sh
  gencert2.sh
  reading_list.md
  server/src/main.rs
Labels: Code: Client, Code: Server, Documentation

Web SOCKETK OWRK
  cert/cert.der
  cert/cert.pem
  cert/identity.p12
  cert/key.csr
  cert/key.pem
  cert/localhost.ext
  cert/root-ca.der
  cert/root-ca.key.pem
  cert/root-ca.pem
  cert/root-ca.srl
  cert/rootCA.crt
  cert/rootCA.key
  cert/rootCA.srl
  cert/server.key.pem
  client/src/main.rs
  gencert3.sh
  server/src/main.rs
Labels: Code: Client, Code: Server

Add chat protocol v0
  docs/protocol-v0.md
Labels: Documentation

.github/labeler.yaml:

"Code: Client":
  - changed-files:
      - any-glob-to-any-file: "client/**"

"Code: Server":
  - changed-files:
      - any-glob-to-any-file: "server/**"

"Code: Common":
  - changed-files:
      - any-glob-to-any-file: "common/**"

"Infra: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

"Documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
