Repository ethanuppal/nerdtalk, pull requests merged in 2025-01, with the labels that each got.

#45 ci(lint): Add abbreviation checker
  .cargo/config.toml
  .github/labeler.yaml
  .github/workflows/clippy.yaml
  Cargo.lock
  Cargo.toml
  client-tui/src/vim.rs
  xtasks/xtask-lint/Cargo.toml
  xtasks/xtask-lint/src/lints.rs
  xtasks/xtask-lint/src/lints/abbreviated.rs
  xtasks/xtask-lint/src/main.rs
Labels: Infra: CI, Code: TUI, Infra: xtasks

#48 fix(xtask-lint): Handle constants correctly
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks

#49 ci(perf): Don't use incremental builds
  .github/workflows/ci.yaml
Labels: Infra: CI

#47 feat(tui): Integrate protocol into TUI
  .gitignore
  Cargo.lock
  client-tui/src/app.rs
  client-tui/src/main.rs
  client-tui/src/vim.rs
  docs/vim.md
Labels: Documentation, Code: TUI

#51 chore(protocol): Use JSON over bincode for passing data over websockets
  Cargo.lock
  Cargo.toml
  client-connect/src/lib.rs
  comms/Cargo.toml
  comms/src/lib.rs
Labels: Code: Protocol

#53 feat(protocol): Tag server entries reply with client id
  Cargo.lock
  client-connect/examples/simple_client.rs
  client-tui/src/app.rs
  client-tui/src/main.rs
  comms/Cargo.toml
  comms/src/lib.rs
  server/src/main.rs
Labels: Code: Server, Code: Protocol, Code: TUI

#55 chore(lints): Add more abbreviation lints
  xtasks/xtask-lint/src/lints/abbreviated.rs
Labels: Infra: xtasks
